<h1>Member Details</h1>
<p>Member Name - <%= @member.name %> </p>
<p>Number of Wins - <%= @number_of_wins%> </p>
<p>Number of losses - <%= @number_of_losses %> </p>
<p>Average Score - <%= @average_score %> </p>
<p>Highest Score - <%= @max_score %> against <%= @max_opponent.name %> at time <%= @game.created_at %> at place <%= @game.place%></p>




